{% extends 'base.html' %}


{% block body %}

<h1>Books</h1>

{% if books %}

<table class="table book-table">
    <tr>
        <th>Title</th>
        <th>Author</th>
    </tr>
{% for book in books %}
    <tr id="{{ book.book_id }}" class="book" data-book-id="{{ book['book_id'] }}">
        <td class="col-xs-5">{{ book.title }}</td>
        <td class="col-xs-7">{{ book.author }}</td>
    </tr>
{% endfor %}

</table>

<a class="center" href="/librarybooks">View my books in the library!</a>
{% else %}

<p> I'm sorry, you have no books yet!</p>
{% endif %}

<script>
var bookIds = [];
$(".book").each(function(i, book) { bookIds.push($(this).data()['bookId']);});

var index = 0;

function get3Books() {
    console.log(index);
    if (index < bookIds.length - 2) {
    $.get("/book/"+bookIds[index]+".json", get3Books);
    index ++;
    $.get("/book/"+bookIds[index]+".json", function(results){console.log(results);});
    index ++;
    $.get("/book/"+bookIds[index]+".json", function(results){console.log(results);});
    index ++;
    console.log(index);
} else if (index === bookIds.length - 2) {
    $.get("/book/"+bookIds[index]+".json", function(){});
    $.get("/book/"+bookIds[index+1]+".json", function(){});
} else if (index === bookIds.length - 1) {
    $.get("/book/"+bookIds[index]+".json", function(){});
}
}
get3Books();

</script>

{% endblock %}