{% extends 'base.html' %}


{% block body %}

<h1>Books</h1>

{% if books %}

<table class="book-table">
    <tr>
        <th>Title</th>
        <th>Author</th>
    </tr>
{% for book in books %}
    <tr id="{{ book.book_id }}" class="book" data-book-id="{{ book['book_id'] }}">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
    </tr>
{% endfor %}

</table>

<a class="center" href="/librarybooks">View my books in the library!</a>
{% else %}

<p> I'm sorry, you have no books yet!</p>
{% endif %}


<script src="https://code.jquery.com/jquery.js" />

{% endblock %}