{% extends 'base.html' %}


{% block body %}

<h1>Welcome!</h1>

<form action="/login" method="POST">
    <p>Log in!</p>

    <p> <label for="email">Email:<input type="text" name="email"></label></p>
    <p> <label for="password">Password:<input type="password" name="password"></label></p>
    <p><input type="submit" value="Login"></p>
</form>

<p><a href="/register">Make a new account</a></p>


<form action="/booklist" method="POST">

    <p>If you know your Goodreads ID number, please enter it here.</p>

    <p>You can find your Goodreads ID by going to your homepage, and clicking on "My Books".
        Your URL should start with "https://www.goodreads.com/review/list/" and end with a 1 to 7-digit number, which is your Goodreads ID.</p>

    <label> Goodreads ID number: <input type="number" name="goodreads-id"></label>

    <input type="submit" value="Submit Goodreads ID">
</form>
<br />
<form action="/booklist" method="POST">
    Otherwise, please login with Goodreads* or, navigate to your "to-read" shelf or any other bookshelf you would like to look for books on, and copy the link here:

    <input type="url" name="goodreads-link">

    <input type="submit" value="Submit bookshelf link">
</form>

<p>* Goodreads login is not implemented yet. Coming soon!</p>
{% endblock %}