

{% extends 'base.html' %}


{% block body %}

Build AJAX requests here!

<form id="select-branch">   <!--should not need an action, right? -->
    <select name="branch">
    {% for code in codes_and_names %}
    <label><option value="{{code}}">{{codes_and_names[code]}}</option></label>
    {% endfor %}
    </select>
    <input type="submit" value="See Books">
</form>

<div id="available-books">
    <table>
        <tr>
        <th>Title</th> <th>Author</th> <th>Format</th> <th>Call Number</th>
    </tr>

    </table>
</div>
<div id="library-books">

</div>
<div id="not-in-library"></div>



<script>
console.log("hello");
var running = true;
$(document).on('ready', getBookList);

function getBookList() {
    $.getJSON("/books.json", makeBookCalls);
}

function makeBookCalls(results) {
    console.log(results);
    var l = results.length;
    console.log("number of books: " + String(l));
    for(i=0; i<l; i++) {
        $.get("/book/" + String(i)+".json", makeRow);  //Won't have looping callback issues will it?
    }
}

function makeRow(results) {
    console.log(results); // for now.  Will update a table row to show it
    //apply a book_id number
}

// $("#select-branch").on('submit', displayBranch);

// console.log("Javascript is working");
// function displayBranch(evt) {
//     evt.preventDefault();
//     console.log(evt);
//     $("available-books").html()
// }

</script>

{% endblock %}