

{% extends 'base.html' %}


{% block body %}

Build AJAX requests here!

<form id="select-branch">   <!--should not need an action, right? -->
    <select name="branch">
    {% for code in codes_and_names %}
    <label><option value="{{code}}">{{codes_and_names[code]}}</option></label>
    {% endfor %}
    </select>
    <input type="submit" value="See Books">
</form>

<div id="available-books"><h2>Books at the library:</h2>
    <table id="available-call-numbers">
        <tr>
        <th>Title</th> <th>Author</th> <th>Format</th> <th>Call Number</th>
    </tr>

    </table>
</div>
<div id="library-books"><h2>Books checked out right now:</h2>
    <table id="unavailable">
        <th>Title</th> <th>Author</th> <th>Format</th>
    </table>
</div>

<div><h2>Books the library doesn't have at all</h2>
<ul id="not-in-library">
</ul> </div>



<script>
console.log("hello");
var running = true;
var books = [];
var branches = [];      // both filled out in initial callback.

$(document).on('ready', getBookList);

function getBookList() {
    $.getJSON("/books.json", makeBookCalls);
}

function makeBookCalls(results) {
    books = results['books'];
    branches = results['branches'];
    console.log(results);

    for(var i=0; i<books.length; i++) {
        // var book = books[i];
        $.get("/book/" + String(i)+".json", function (data){
            // console.log("In makeBookCalls function for book" + Stri  ng(i));
            console.log(data);
            console.log(book);
                makeRow(book, data);
            });
    }
}

function makeRow(book, results) {
    console.log("In makeRow function: ")
    console.log(results); // for now.  Will update a table row to show it
    console.log(book);
    if(results.length === 0) {
        $("#not-in-library").append("<li>" + book['title'] + " by " + book['author'] + "</li>");
    }
    else {
        for(i=0; i<results.length; i++){
            var tr = "<tr id=" + results['book_id'] + ">";
            var title = "<td>" + results[i]['title'] + "</td>";
            var author = "<td>" + results[i]['author'] + "</td>";
            var available = results[i]['available'];
            var format = "<td>" + results[i]['format'] + "</td>";
            var callNumber = "<td>" + results[i]['call_number'] + "</td>";
            var end = "</tr>";

            if (available) {
                $("#available-call-numbers").append(tr+title+author+format+callNumber+end);
            } else {
                $("#unavailable").append(tr+title+author+format+end);
            }
        }
    }
}

//how daodi can I put in a book????

// $("#select-branch").on('submit', displayBranch);

// console.log("Javascript is working");
// function displayBranch(evt) {
//     evt.preventDefault();
//     console.log(evt);
//     $("available-books").html()
// }

</script>

{% endblock %}