

{% extends 'base.html' %}
{% block head %}
<style>
#map {
    height: 400px;
    width: 400px;
}
</style>
{% endblock %}

{% block body %}

<p>Select a library to view books at!</p>

<select id="select-branch" name="branch">
    {% for (code, name) in codes_and_names %}
    <label><option value="{{code}}">{{name}}</option></label>
    {% endfor %}
</select>

<div id="map"></div>
{% for (code, name) in codes_and_names %}
<div class="library-branch" id="{{code}}" hidden>
    <h3>Books available at {{name}} branch</h3>
    <table id="available-{{code}}">
        <tr>
        <th>Title</th> <th>Author</th> <th>Format</th> <th>Call Number</th>
    </tr>

    </table>

</div>
{% endfor %}

<div id="library-books"><h2>Books checked out right now:</h2>
    <table id="unavailable">
        <th>Title</th> <th>Author</th> <th>Format</th>
    </table>
</div>

<div><h2>Books the library doesn't have at all</h2>
<ul id="not-in-library">
</ul> </div>



<script>
console.log("hello");
var running = true;
var books = [];
var branches = [];      // all these arrays filled out in initial callback.
var mapBounds = {};
var mapCenter = {'lat': null, 'lng': null};
var pauseMap = true;
var giveUp = false;

$(document).on('ready', getBookList);

function getBookList() {
    $.getJSON("/books.json", makeBookCalls);
    // setTimeout(function () {giveUp = true;}, 60000);
}

function makeBookCalls(results) {
    books = results['book_ids'];
    branches = results['branches'];
    pauseMap = false;
    console.log(results);

    for(var i=0; i<books.length; i++) {
        var book = books[i];
        $.get("/book/" + String(book)+".json", makeRow);
    }
}

function makeRow(data) {
    console.log(data); // for now.  Will update a table row to show it

    book = {'book_id': data['book_id'], 'title': data['title'], 'author': data['author']}
    records = data['records']
    if(!records||records.length===0) {
        $("#not-in-library").append("<li>" + book['title'] + " by " + book['author'] + "</li>");
    }
    else {
        for(i=0; i<records.length; i++){
            var tr = "<tr id=" + records['book_id'] + ">";
            var title = "<td>" + records[i]['title'] + "</td>";
            var author = "<td>" + records[i]['author'] + "</td>";
            var available = records[i]['available'];
            var format = "<td>" + records[i]['format'] + "</td>";
            var callNumber = "<td>" + records[i]['call_number'] + "</td>";
            var end = "</tr>";

            if (available) {
                $("#available-" + records[i]['branch_code']).append(tr+title+author+format+callNumber+end);
            } else {
                $("#unavailable").append(tr+title+author+format+end);
            }
        }
    }
}
$("#select-branch").change(showBranch);

function showBranch(evt) {
    // evt.preventDefault;
    var branchCode = $("#select-branch").val();
    console.log(branchCode);
    for (var i=0; i<branches.length; i++) {
        $("#"+ branches[i]["branch_code"]).hide();
    }
    $("#"+branchCode).show();
    
}

var map;
function initMap() {
    $.get("/map.json", alignMap);
}

function alignMap(data) {
    mapBounds = data['map_bounds']; // for later use
    mapCenter = data['map_center'];
    map = new google.maps.Map(document.getElementById("map"), {
        center: mapCenter,
        zoom: 12,
        });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{map_key}}&callback=initMap" async defer></script>

{% endblock %}