{% extends 'base.html' %}


{% block body %}

<form class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" action="/register", method="POST">
    <p><label>Email (required): <input type="text" name="email" required></label></p>
    <p><label>Password (required): <input type="password" name="password" required></label></p>
    <p><label>First Name (optional): <input type="text" name="first-name"></label></p>
    <p><label>Last Name (optional): <input type="text" name="last-name"></label></p>
    <p><input type="submit" value="Sign Up"></p>
</form>

{% endblock %}