{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<div class="container purple">

<h2 data-user-id="{{ user.user_id }}">Books for {{user.first_name}} {{user.last_name}}</h2>

{% if books %}

<h3><a href="/librarybooks">View my books in the library!</a></h3>

{% else %}

<p> You have no books yet!</p>
{% endif %}
</div>

<div class="container purple">
<h4>Add Books</h4>
<table class="table add-books green">
    <tr><form id="add-1">
        <td >Title: <input id="add-1-title" type="text" name="title"></td>
        <td >Author: <input id="add-1-author" type="text" name="author"></td>
        <td><input id="add-1-button" type="submit" value="Add book"></td>
</form></tr>
<tr id="add-1-success"></tr>
<tr>
<form id="add-list" action="/booklist" method="POST">
    <td>
Add books from a Goodreads shelf:</td>
<td>
    <input type="url" name="goodreads-link">
</td>
<td>
    <input type="submit" value="Submit bookshelf link">
</td>
</form>
</tr>
</div>


<table class="table" id="book-table">
    <tr>
        <th>Title</th>
        <th>Author</th>
    </tr>
{% for book in books %}
    <tr id="{{ book.book_id }}" class="book" data-book-id="{{ book.book_id }}">
        <td class="col-xs-7">{{ book.title }}</td>
        <td class="col-xs-4">{{ book.author }}</td>
<!--         <td class="col-xs-1"><button class="remove" id="button-{{ book.book_id}}" data-book-id="{{ book.book_id }}" value="Remove this book"</button></td>
 -->    </tr>
{% endfor %}

</table>
</div>



<script>
var removalButtons = document.getElementsByClassName("remove")
for (var i=0; i<removalButtons.length; i++) {
    removalButtons[i].addEventListener('click', makeRemovalCall(removalButtons[i]));
}

function makeRemovalCall(button) {
    return function () {
        var bookNum = button.data()['book-id'];
        button.style.display = "none";
        $.post("remove/", {'book-id': bookNum}, function(results) {console.log(results)});
    }
}
$("#add-1").on('submit', function(evt) {
    evt.preventDefault();

    console.log(evt);
    var title = $("#add-1-title").val();
    $("#add-1-title").val("");
    var author = $("#add-1-author").val();
    $("#add-1-author").val("");
    $.post("/add-book", {'title': title, 'author': author}, function(results) {
        console.log(results);
        $("#add-1-success").html("Successfully added "+ results['title']+ " by " + results['author']);

        var newRow = document.createElement("tr");
        newRow.setAttribute("id", results['book_id']);
        newRow.setAttribute("data-book-id", results['book-id']);

        var newTitleCell = document.createElement("td");
        var newTitle = document.createTextNode(results['title']);
        newTitleCell.appendChild(newTitle);
        newRow.appendChild(newTitleCell);

        var newAuthorCell = document.createElement("td");
        var newAuthor = document.createTextNode(results['author']);
        newAuthorCell.appendChild(newAuthor);
        newRow.appendChild(newAuthorCell);
        $("#book-table").append(newRow);
    });
});


</script>


{% endblock %}